<div class="container" *ngIf="currentUser && role == 'expert'">
  <header class="jumbotron">
    <h3>
      <strong>{{ data.name }}</strong>
    </h3>
    <hr>
    <p>
      <strong>Email:</strong>
      {{ data.email }}
    </p>
    <p>
      <strong>Qualification:</strong>
      {{ data.qualification }}
    </p>
    <p>
      <strong>Specialization:</strong>
      {{ data.specialization }}
    </p>
    <p>
      <strong>Status:</strong>
      {{ data.status }}
    </p>
    <hr>
    <div style="margin-top: 2%;">
      <button class="btn btn-primary" (click)='goToUpdateProfile()'>Update Profile</button>
      <button class="btn btn-success float-right" (click)='startChat()'>Start Chat</button>
    </div>
  </header>
</div>

<div class="container" *ngIf="currentUser && role == 'patient'">
  <header class="jumbotron">
    <h3>
      <strong>{{ data.firstname }} {{ data.lastname }}</strong>
    </h3>
    <hr>
    <p>
      <strong>Email:</strong>
      {{ data.email }}
    </p>
    <p>
      <strong>Age:</strong>
      {{ data.age }}
    </p>
    <p>
      <strong>Gender:</strong>
      {{ data.gender }}
    </p>
    <p>
      <strong>City:</strong>
      {{ data.city }}
    </p>
    <p>
      <strong>State:</strong>
      {{ data.state }}
    </p>
    <hr>
    <button class="btn btn-primary" style="margin-top: 2%;" (click)='goToUpdateProfile()'>Update Profile</button>
  </header>
</div>
