<div class="top-margin">
  <div class="row">
    <div class="col-6">
      <div class="card" (click)="onClick('patient')">
        <img class="card-img-top" src="https://www.pngitem.com/pimgs/m/76-762018_clinical-psychology-computer-icons-clip-art-symbol-psychological.png" alt="Card image cap">
        <!-- <img class="card-img-top" src="https://images.squarespace-cdn.com/content/v1/5e4708a55b28c33093eeb202/1585338237709-H4UXHKULPP2FTEJJ7VAK/RobsonAcademy_WebsiteIcons-01.png?format=1000w"> -->
         <div class="card-body">
          <p class="card-text" style="font-family: serif;">Patient?</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" (click)="onClick('expert')">
        <!-- <img class="card-img-top" src="https://thumbs.dreamstime.com/b/boy-girl-doctors-cartoon-characters-profession-s-costume-doctor-vector-illustration-male-female-doctors-cartoon-147440124.jpg" alt="Card image cap"> -->
        <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/hospital-1-1/512/Hospital-1-16-512.png" alt="Card image cap">
        
        
        <div class="card-body" style="margin-top: 8.5%;">
          <br>
          <p class="card-text" style="font-family: serif;">Expert?</p>
        </div>
      </div>
    </div>
  </div>
</div>
