
<div class="col-md-12" *ngIf="token">
  <div class="card card-container">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required #password="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
          password is required!
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="text" class="form-control" name="confirmPassword" [(ngModel)]="form.confirmPassword" required #confirmPassword="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="confirmPassword.errors && f.submitted">
          confirm Password is required!
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block">
          Submit
        </button>
        <button class="btn btn-warning btn-block mt-2" (click)="goToHome()">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div class="col-md-12" *ngIf="!token">
  <div class="card card-container">
    <form name="form" (ngSubmit)="f.form.valid && onEmailSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="emailForm.email" required #email="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
          Email is required!
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-block">
          Submit
        </button>
        <button class="btn btn-warning btn-block mt-2" (click)="goToHome()">Cancel</button>
      </div>
    </form>
  </div>
</div>
